<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KOT Biz Listings</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/shop-homepage.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KOT Biz Listing</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{ count }} #KOT Hustlers. And counting...</p>
                <div class="list-group">
                    <a href="#top_tweets" class="list-group-item">High Engagement</a>
                    <a href="#mid1_tweets" class="list-group-item">Mid Engagement</a>
                    <a href="#low_tweets" class="list-group-item">Low Engagement</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It&#39;s good to promote eachother&#39;s businesses, ka uko na biz reply this tweet.. tell us about it, I&#39;ll retweet 😅 you never know</p>&mdash; Shosho Light (@carolinespencer) <a href="https://twitter.com/carolinespencer/status/748567826907136000">June 30, 2016</a></blockquote>
                    </div>

                </div>

                <div class="row">
                    {% for each in top_tweets %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a name="top_tweets"></a>
                        <div class="thumbnail">
                            <img src="{{ each['photo'] }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"><a href="https://twitter.com/intent/tweet?in_reply_to={{ each['id'] }}">Buy</a></h4>
                                <h4><a href="https://twitter.com/{{each['name']}}">@{{ each['name'] }}</a>
                                </h4>
                                <p>{{ each['description'] }}</p>
                            </div>
                            <div class="ratings">
                                <a href="https://twitter.com/{{ each['name'] }}/status/{{ each['id'] }}">
                                <p class="pull-right"> {{ each['retweets'] }} retweets</p>
                                <p class="pull-right">{{ each['faves'] }} likes |</p>
                                </a>
                                <p>
                                   {{ each['link'] }}
                                </p>
                                <p class="small">
                                   <a href="#"><span class="glyphicon glyphicon-warning-sign"></span> Flag / Report</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% for each in mid1_tweets %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a name="mid1_tweets"></a>
                        <div class="thumbnail">
                            <img src="{{ each['photo'] }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"><a href="https://twitter.com/intent/tweet?in_reply_to={{ each['id'] }}">Buy</a></h4>
                                <h4><a href="https://twitter.com/{{each['name']}}">@{{ each['name'] }}</a>
                                </h4>
                                <p>{{ each['description'] }}</p>
                            </div>
                            <div class="ratings">
                                <a href="https://twitter.com/{{ each['name'] }}/status/{{ each['id'] }}">
                                <p class="pull-right"> {{ each['retweets'] }} retweets</p>
                                <p class="pull-right">{{ each['faves'] }} likes |</p>
                                </a>
                                <p>
                                   {{ each['link'] }}
                                </p>
                                <p class="small">
                                   <a href="#"><span class="glyphicon glyphicon-warning-sign"></span> Flag / Report</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for each in mid2_tweets %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a name="mid2_tweets"></a>
                        <div class="thumbnail">
                            <img src="{{ each['photo'] }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"><a href="https://twitter.com/intent/tweet?in_reply_to={{ each['id'] }}">Buy</a></h4>
                                <h4><a href="https://twitter.com/{{each['name']}}">@{{ each['name'] }}</a>
                                </h4>
                                <p>{{ each['description'] }}</p>
                            </div>
                            <div class="ratings">
                                <a href="https://twitter.com/{{ each['name'] }}/status/{{ each['id'] }}">
                                <p class="pull-right"> {{ each['retweets'] }} retweets</p>
                                <p class="pull-right">{{ each['faves'] }} likes |</p>
                                </a>
                                <p>
                                   {{ each['link'] }}
                                </p>
                                <p class="small">
                                   <a href="#"><span class="glyphicon glyphicon-warning-sign"></span> Flag / Report</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for each in low_tweets %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a name="low_tweets"></a>
                        <div class="thumbnail">
                            <img src="{{ each['photo'] }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"><a href="https://twitter.com/intent/tweet?in_reply_to={{ each['id'] }}">Buy</a></h4>
                                <h4><a href="https://twitter.com/{{each['name']}}">@{{ each['name'] }}</a>
                                </h4>
                                <p>{{ each['description'] }}</p>
                            </div>
                            <div class="ratings">
                                <a href="https://twitter.com/{{ each['name'] }}/status/{{ each['id'] }}">
                                <p class="pull-right"> {{ each['retweets'] }} retweets</p>
                                <p class="pull-right">{{ each['faves'] }} likes |</p>
                                </a>
                                <p>
                                   {{ each['link'] }}
                                </p>
                                <p class="small">
                                   <a href="#"><span class="glyphicon glyphicon-warning-sign"></span> Flag / Report</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Wanna Contribute?</a>
                        </h4>
                        <p>If you like this project and would like to contribute, then <a target="_blank" href="https://github.com/andkamau/twitter-biz-ke/">jump right in!</a></p>
                        <a class="btn btn-primary" target="_blank" href="mailto:andkamau@gmail.com">Say hi</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="http://andkamau.xyz" target="_blank">Andrew Kamau</a> 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>

</html>
